.app {
  background-color: #FFF;
  height: 550px;
  margin: auto;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.weather-info, .weather-icon {
  margin-top: 35px;
}


// Clear day icon
.rotating-sun {
  animation: rotate-sun 20s linear infinite;
  height: 200px;
  width: 200px;
}

@keyframes rotate-sun {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


// Clear night icon
.rocking-moon {
  animation: swing 3s linear alternate infinite;
  height: 200px;
  width: 200px;
}

@keyframes swing {
  100% { transform: rotate(-20deg); }
}


// Partly cloudy day icon
.disappearing-sun {
  height: 200px;
  width: 200px;
}


// Partly cloudy night icon
.disappearing-moon {
  height: 200px;
  width: 200px;
}


// Cloudy icon
.heavy-clouds {
  animation: float-right 3s ease-in-out alternate infinite;
  height: 200px;
  width: 200px;
}

@keyframes float-right {
  0% {
    transform: translateX(-20px);
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(50px);
    opacity: 0.5;
  }
}


// Rain icon
.falling-rain {
  animation: rain-evaporating 2s ease-in-out alternate infinite;
  height: 200px;
  width: 200px;
}

@keyframes rain-evaporating {
  100% { opacity: 0.3 }
}


// Sleet icon
.snow-rain-combo {
  animation: rotate-cloud 2s ease-out alternate infinite;
  height: 200px;
  width: 200px;
}

@keyframes rotate-cloud {
  100% { transform: rotateY(-30deg); }
}


// Snow icons
.snow-fall {
  animation: snow-evaporating 2s ease-in-out alternate infinite;
  height: 200px;
  width: 200px;
}

@keyframes snow-evaporating {
  100% { opacity: 0.3 }
}

// Wind icon
.gusty-winds {
  animation: float-left 2s cubic-bezier(0.5, 0.2, 0.3, 1.0) alternate infinite;
  height: 200px;
  width: 200px;
}

@keyframes float-left {
  100% { transform: translateX(-50px); }
}


// Fog icon
.dense-fog {
  animation: fog 2s ease-in-out alternate infinite;
  height: 200px;
  width: 200px;
}

@keyframes fog {
  100% { opacity: 0.3 }
}
