body {
  background-color: #AEE4FF;
  font-family: sans-serif;
  margin: 0;
  padding: 50px;
}

a {
  bottom: 0;
  color: darken(#AEE4FF, 40%);
  padding: 15px;
  position: absolute;
  right: 0;
}

h1 {
  margin: 0;
  padding-top: 45px;
}
